- var portraitCSS  = ['submissions']
- var landscapeCSS = []
- var desktopCSS   = []

// build:css main.css
= "\n"
each path in portraitCSS
  = "\n"
  link(href="styles/#{path}.css", rel="stylesheet")
  = "\n"
= "\n"
// endbuild
= "\n"
= "\n"
// build:css styles/mobile-landscape.css media="(min-width: 568px)"
= "\n"
each path in landscapeCSS
  = "\n"
  link(href="styles/#{path}.landscape.css", rel="stylesheet", media="(min-width: 568px)")
  = "\n"
= "\n"
// endbuild
= "\n"
= "\n"
// build:css styles/desktop.css media="(min-width: 767px)"
= "\n"
each path in desktopCSS
  = "\n"
  link(href="styles/#{path}.desktop.css", rel="stylesheet", media="(min-width: 767px)")
  = "\n"
= "\n"
// endbuild
= "\n"
