doctype html
html(ng-app='example')
  head
    title Timeline

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    include css-files

  body
    include nav

    main.layout-main.timeline("role"="main", class="{{ pageClass }}", ui-view="")

    include js-files
