- var scripts = []
- scripts.push('constants')
- scripts.push('submissions.module')
- scripts.push('submissions.directive')

- scriptsNoBuild = ['routes']

- var bowers = []
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')

doctype html
html(ng-app='appirio-tech-submissions')
  head
    script(type="text/javascript", src="/scripts/json-fixtures.js")

    script(type="text/javascript", src="/bower_components/sinon/index.js")

    script(type="text/javascript", src="/bower_components/auto-config-fake-server/dist/auto-config-fake-server.js")

    script(type="text/javascript").
      AutoConfigFakeServer.init();

      AutoConfigFakeServer.fakeServer.autoRespond = true;

      schemas = [
        FIXTURES['bower_components/appirio-tech-api-schemas/swagger/v3-messages.json'],
        FIXTURES['bower_components/appirio-tech-api-schemas/swagger/v3-threads.json'],
        FIXTURES['bower_components/appirio-tech-api-schemas/swagger/v3-threads.json'],
        FIXTURES['bower_components/appirio-tech-api-schemas/swagger/v3-users.json'],
        FIXTURES['bower_components/appirio-tech-api-schemas/swagger/v2.json']
      ];

      AutoConfigFakeServer.consume(schemas);

      localStorage.setItem('userJWTToken', '"yyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS50b3Bjb2Rlci1kZXYuY29tIiwiZXhwIjoxNDMzMjcxNzYwLCJ1c2VySWQiOiI0MDEzNTUxNiIsImlhdCI6MTQzMzI3MTE2MCwianRpIjoiMDZhNzVjM2EtMTQ0MC00MWE3LTk5N2YtZmFmMGVjZjFmOGM1In0.okSjl5KOmGQ6hJEoQxk4SVkFra65_Id6KUQGdAVmJNe"');

    title Submissions

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    include css-files

  body
    main.layout-main.submissions("role"="main", class="{{ pageClass }}", ui-view="")

    each path in bowers
      script(src="bower_components/#{path}.js", type="text/javascript")

    = "\n"
    // build:js main.js
    = "\n"
    each path in scripts
      = "\n"
      script(src="scripts/#{path}.js", type="text/javascript")
      = "\n"
    = "\n"
    // endbuild
    = "\n"

    each path in scriptsNoBuild
      script(src="scripts/#{path}.js", type="text/javascript")
