- var scripts  = []
- var examples = []
- var bowers   = []

- examples.push('json-fixtures')
- examples.push('../bower_components/sinon/index')
- examples.push('../bower_components/auto-config-fake-server/dist/auto-config-fake-server')
- examples.push('mock')
- examples.push('constants')
- examples.push('example.module')
- examples.push('example-templates')
- examples.push('routes')

- scripts.push('submissions.module')
- scripts.push('templates')
- scripts.push('submissions.directive')

- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
